{% extends 'base.html' %}

{% block main %}
    <div style="min-height: 85vh; padding: 20px; margin-top: 50px; background-color: rgb(212, 204, 204);">
        <h1 style="margin-top: 10px; font-size: 52px; font-weight: 700;">Sobre o autor</h1>
        <p style="margin-top: 60px;">Ítalo Guilherme é um adolescente que sempre teve uma paixão inabalável pelo futebol. Desde muito jovem, ele se destacava entre os amigos por sua habilidade com a bola nos pés e sua visão de jogo. Enquanto outros meninos sonhavam com super-heróis e aventuras, Ítalo sonhava em ser um grande jogador de futebol, inspirado por seus ídolos nos gramados.

            Com o passar dos anos, sua dedicação ao esporte só aumentou. Ítalo treinava incansavelmente, aperfeiçoando suas técnicas e desenvolvendo um estilo de jogo único. Ele era conhecido por sua velocidade, dribles precisos e, acima de tudo, por sua determinação em nunca desistir, mesmo nas situações mais difíceis.
            
            Além de seu talento natural, Ítalo também era um líder nato. Ele sempre incentivava seus companheiros de equipe, mostrando que o futebol não é apenas um jogo, mas uma lição de vida sobre trabalho em equipe, disciplina e perseverança. Seu sonho é um dia vestir a camisa de um grande clube e, quem sabe, representar seu país em competições internacionais.
            
            Ítalo Guilherme é a prova viva de que, com paixão e dedicação, qualquer sonho pode se tornar realidade. E, enquanto ele continua a trilhar seu caminho no mundo do futebol, ele inspira muitos outros jovens a seguirem seus próprios sonhos com a mesma determinação e amor pelo que fazem.</p>
    </div>
{% endblock %}